Repository Alamofire/Alamofire, pull requests merged in 2019-04, with the labels that each got.

#2778 Bugfix - Cancellation Loop
  Alamofire.xcodeproj/project.pbxproj
  Source/Request.swift
  Tests/SessionTests.swift
Labels: bug, request retrier, response handlers

#2783 Bugfix - Session Delegate Precondition
  Source/Session.swift
Labels: bug, session delegate

#2786 Bugfix - Project Settings and Example App
  Alamofire.xcodeproj/project.pbxproj
  Example/Source/DetailViewController.swift
  Example/iOS Example.xcodeproj/project.pbxproj
Labels: bug, result

#2796 Refactor Request Event Management
  Alamofire.xcodeproj/project.pbxproj
  Package@swift-3.swift
  Package@swift-4.2.swift
  Package@swift-4.swift
  Source/EventMonitor.swift
  Source/Protector.swift
  Source/Request.swift
  Source/Session.swift
  Tests/NSLoggingEventMonitor.swift
  Tests/RequestTests.swift
  Tests/SessionTests.swift
Labels: request

#2801 Audit - SessionStateProvider ACL
  Alamofire.xcodeproj/project.pbxproj
  Source/SessionDelegate.swift
Labels: session delegate

#2799 Bugfix - Info.plist TestFlight Validation
  Source/Info.plist
Labels: carthage, cocoapods, swift package manager

#2805 Audit - MultipartUpload ACL
  Source/Alamofire.swift
  Source/MultipartFormData.swift
  Source/MultipartUpload.swift
  Source/Session.swift
Labels: multipart form data, upload request

#2804 Audit - Request ACL
  Source/Request.swift
Labels: request

#2803 Audit - Notification Names
  Source/Notifications.swift
  Tests/SessionDelegateTests.swift
Labels: request

#2802 Audit - HTTP Headers Refactor
  Source/HTTPHeaders.swift
  Source/ParameterEncoder.swift
  Source/Response.swift
  Source/URLSessionConfiguration+Alamofire.swift
  Tests/CacheTests.swift
  Tests/HTTPBin.swift
  Tests/ParameterEncoderTests.swift
  Tests/RequestTests.swift
  Tests/SessionTests.swift
  Tests/URLProtocolTests.swift
  Tests/ValidationTests.swift
Labels: http headers

#2807 Bugfix: DownloadRequest event duplication and missing events.
  Source/Request.swift
  Source/RequestTaskMap.swift
  Source/ResponseSerialization.swift
  Source/Session.swift
  Source/SessionDelegate.swift
  Tests/DownloadTests.swift
  Tests/RequestTests.swift
  Tests/UploadTests.swift
Labels: bug, download request

#2808 Bugfix - Dropping Pre-Release Version from CFBundleShortVersionString
  Source/Info.plist
Labels: carthage

#2800 Remove obsolete casting
  Source/ServerTrustEvaluation.swift
Labels: security

#2814 [AF5 Refactor]: Lock Request.state access
  Source/Protector.swift
  Source/Request.swift
  Source/Session.swift
  Tests/DownloadTests.swift
Labels: async operation, enhancement, request

#2810 Feature - Terminal Response Serializers
  Source/AFError.swift
  Source/Request.swift
  Source/Session.swift
  Tests/AFError+AlamofireTests.swift
  Tests/DownloadTests.swift
  Tests/RequestTests.swift
  Tests/SessionTests.swift
  Tests/UploadTests.swift
Labels: response handlers
