Repository Alamofire/Alamofire, pull requests merged in 2019-03, with the labels that each got.

#2716 Feature - Response Serializer Retry Support
  Source/Request.swift
  Source/ResponseSerialization.swift
  Source/Session.swift
  Tests/RetryPolicyTests.swift
  Tests/SessionTests.swift
Labels: needs feedback, request retrier, response handlers

#2767 [AF4]: Hotfix project updates for Xcode 10.2
  Alamofire.xcodeproj/project.pbxproj
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire iOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire macOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire tvOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire watchOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Cleanup Whitespace.xcscheme
  Example/Source/AppDelegate.swift
  Example/iOS Example.xcodeproj/project.pbxproj
  Example/iOS Example.xcodeproj/xcshareddata/xcschemes/iOS Example.xcscheme
  Tests/MultipartFormDataTests.swift
  Tests/ResponseSerializationTests.swift
  Tests/SessionManagerTests.swift
Labels: project config, swift

#2771 Swift 5!!!
  .swift-version
  .travis.yml
  Alamofire.podspec
  Alamofire.xcodeproj/project.pbxproj
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire iOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire macOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire tvOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Alamofire watchOS.xcscheme
  Alamofire.xcodeproj/xcshareddata/xcschemes/Cleanup Whitespace.xcscheme
  Example/iOS Example.xcodeproj/project.pbxproj
  Example/iOS Example.xcodeproj/xcshareddata/xcschemes/iOS Example.xcscheme
  Gemfile
  Gemfile.lock
  Package.swift
  Source/ServerTrustEvaluation.swift
  Tests/ParameterEncoderTests.swift
  Tests/SessionTests.swift
Labels: project config, swift

#2772 [#2270]: Fix emptyResponseAllowed logic.
  Alamofire.xcodeproj/project.pbxproj
  Source/ResponseSerialization.swift
  Source/URLRequest+Alamofire.swift
  Tests/HTTPBin.swift
  Tests/Resources/Responses/Property List/empty.data
  Tests/Resources/Responses/Property List/invalid.data
  Tests/Resources/Responses/Property List/valid.data
  Tests/ResponseSerializationTests.swift
Labels: bug, response handlers
