Repository Alamofire/Alamofire, pull requests merged in 2019-02, with the labels that each got.

#2696 Use the hash(into:) API for hashing.
  Source/Request.swift
Labels: enhancement, request

#2715 Fix typo SessionManager.swift -> Session.swift
  Source/Session.swift
Labels: documentation

#2713 Overriding RetryPolicy Logic
  Source/RetryPolicy.swift
Labels: retry policy

#2725 TYPO: Changed 'you' to 'your'
  README.md
Labels: documentation
